<section class="mainPadding my-5">
  <div class="center-center flex-column py-4 ">

    <p class="secTextColor fw-bold"><i class="bi bi-lightbulb-fill pe-2"></i>News & Article
    </p>
    <h2 class="my-2 text-center">Read Our Latest News</h2>
    <p class="text-secondary text-center">Our mission is to provide you with valuable insights</p>
  </div>





  <div class="news row m-0">
    <div class="new col-12 col-md-6 col-lg-4  p-3" *ngFor="let item of [0,0,0]">
      <div class="box p-4 border rounded-3">
        <div class="img center-center"><img src="./assets/news1.jpg" alt=""></div>
        <div class="data d-flex py-2">
          <div class="date"><i class="bi bi-person"></i> <p>May 12, 2024</p></div>
          <div class="name"><i class="bi bi-calendar-event"></i> <p>Jhon Sina</p></div>

        </div>
        <div class="title my-3"><h4>Maximizing Your Learning Potential: A Guide to StudyHub</h4></div>
        <button class="btn secBgColor text-white text-hover">Read More <i class="bi bi-arrow-right"></i></button>
      </div>
    </div>
  </div>

</section>
