<footer class="mainPadding my-5">
  <div class="SkillBridge mx-3 my-5 row rounded-3 py-4 my-5 " style="background-image: url(assets/choose-bg.jpg);">
    <div class=" col-12 col-md-8 d-flex align-items-center justify-content-evenly row m-0 ">
      <div class="img m-0 col-12 col-md-6 center-center">
        <img src="./assets/women-1.png" class="w-50">
      </div>
      <h1 class="col-12 m-5 m-md-0 col-md-6 text-white ms-md-4 ms-0 fw-bold text-center">Skills Certificate From
        the SkillBridge</h1>
    </div>
    <div class="col-12 col-md-4 center-center">
      <button class="btn btn-light py-3 px-4">View All Courses <i class="bi-arrow-right bi ps-2"></i></button>
    </div>
  </div>
  <div class="footer mx-3 row my-5">
    <div class="col-lg-4 col-md-4 left">
      <div class="logo d-flex align-items-center">
        <img src="./assets/LOGO.png" alt="">
        <p>SkillBridge </p>
      </div>
      <p class="text-secondary">We are passionate education dedicated to providing high-quality resources learners all
        backgrounds.</p>
      <p><i class="bi bi-telephone"></i> Yarra Park, Melbourne, Australia</p>
      <p><i class="bi bi-geo-alt"></i> +(61) 485-826-710</p>
    </div>
    <div class="col-6 col-md-2 center ">
      <p>Usefull Links</p>
      <ul>
        <li>Course</li>
        <li>Mission & Vision</li>
        <li>Join a Carrer</li>
        <li>Zoom Meeting</li>
        <li>Pricing Plan</li>
      </ul>
    </div>
    <div class="col-6 col-md-2 center ">
      <p>Explore</p>
      <ul>
        <li>Course One</li>
        <li>Course Two</li>
        <li>Course Three</li>
        <li>Lesson Details</li>
        <li>Instructor</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 right">
      <h6>Newsletter</h6>
      <p class="text-secondary">Subscribe Our newsletter get update our new course</p>
      <div class="position-relative input">
        <input type="text" class="w-100 h-100 p-3" placeholder="Enter Your Email">
        <button class="btn mainBgColor text-white position-absolute  end-0">Subscribe</button>
      </div>
      <div class="checkbox">
        <input type="checkbox" name="" id=""><p>I agree to the terms of use and privacy policy.</p>
      </div>
    </div>
  </div>
</footer>
<div class="row m-0 Copyright d-flex align-items-center justify-content-between border-top mainPadding py-5">
  <p class="text-secondary col-12 col-md-6 text-center">Copyright © 2024 All Rights Reserved by Studyhub</p>
  <div class=" center-center col-12 col-md-6">
    <i class=" bi bi-facebook mx-2"></i><i class=" bi bi-instagram mx-2"></i><i class=" bi bi-linkedin mx-2"></i><i class=" bi bi-twitter mx-2"></i><i class=" bi bi-whatsapp mx-2"></i>
  </div>
</div>
