<header class="row m-0 position-relative mainPadding">
  <div class="col-12 col-md-6 d-flex align-items-start justify-content-center flex-column leftHalf">
    <p class="secTextColor"><i class="bi bi-lightbulb-fill pe-2"></i>Gateway to Lifelong Learning</p>
    <h1>Unlock Your Potential
      with Online <span>Learning</span></h1>
    <p class="text-secondary ">Discover a world of knowledge and opportunities with our online education platform
      pursue a new career.</p>
    <div class=" d-flex justify-content-between align-items-center lastLine row m-0">
      <button class="col-12 col-lg-4 mb-3 mb-lg-0 btn mainBgColor text-white center-center ">View All Courses <i
          class="bi bi-arrow-right ps-3"></i></button>
      <div class="col-8 col-lg-5 d-flex students align-items-center ps-4">
        <div class="img img1">
          <img src="./assets/client-sm-4.jpg" alt="">
        </div>
        <div class="img img2">
          <img src="./assets/client-sm-1.jpg" alt="">
        </div>
        <div class="img img3">
          <img src="./assets/client-sm-3.jpg" alt="">
          <div class="layer center-center text-white fs-5">+</div>
        </div>

      </div>
      <div class="col-4 col-lg-3 ">
        <h4>2k students</h4>
        <h6>Joint our online Class</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 rightHalf center-center">
    <img src="./assets/header.png" alt="">
  </div>
  <img class="banner banner1" src="./assets/banner-shape01.svg" alt="" [ngStyle]="{'transform': banner1Transform}">
  <img class="banner banner2" src="./assets/banner-shape02.svg" alt="" [ngStyle]="{'transform': banner2Transform}">
  <img class="banner banner3" src="./assets/banner-shape03.svg" alt="" [ngStyle]="{'transform': banner3Transform}">
</header>
