<section class="row col-12 d-flex align-items-center justify-content-center bg-gradient m-0 rounded-3" id="register">
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 box p-5 rounded-3">
    <h1 class="w-100 text-center py-3 m-0 "><span *ngIf="!ifLogin">SIGN UP</span> <span *ngIf="ifLogin">LOG IN</span>
    </h1>
    <app-input-register *ngIf="!ifLogin" [(data)]="userName" [span]="'User name'" placeholder="Type your name"
      [icon]="'bi-person'" [Error]="error"></app-input-register>
    <app-input-register [type]="'email'" [(data)]="email" [span]="'Email'" placeholder="Email" [icon]="'bi-envelope-at'"
      [Error]="error"></app-input-register>
    <app-input-register [type]="'password'" [(data)]="password" [span]="'Password'" placeholder="Password"
      [icon]="'bi-key'" [login]="ifLogin" [Error]="error"></app-input-register>
    <div class="btn gradient transition rounded-0 my-3 border-0 w-100 rounded-3" (click)="auth()"><span
        *ngIf="!ifLogin">SIGN UP</span> <span *ngIf="ifLogin">LOG IN</span>
      <div *ngIf="loading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class=" w-100 using">
      <p class="text-center ">Or <span *ngIf="!ifLogin">Sign Up</span> <span *ngIf="ifLogin">Log In</span> Using</p>
      <div class="d-flex col-8 offset-2 col-sm-6 offset-sm-3 col-md-8 offset-md-2 align-items-center justify-content-between py-3">

        <div class="social bg-facebook"><i class="bi bi-facebook"></i></div>
        <div class="social text-white bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path
              d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
          </svg></div>
        <div class="social bg-google"><i class="bi bi-google"></i></div>
      </div>
    </div>
    <p (click)="change()" class="w-100 text-center mt-5 pt-5 pointer text-hover"><span *ngIf="ifLogin">SIGN
        UP</span> <span *ngIf="!ifLogin">LOG IN</span>
    </p>

  </div>
</section>
<div class="confirm position-absolute top-0 start-0 w-100 p-0 m-0">
  <app-confirm-email *ngIf="emailVerification" [emailVerification]="emailVerification"></app-confirm-email>
</div>
