section {
  width: 100%;
  // background-image: url(assets/choose-bg.jpg);

  .img1 {
    padding: 10px;

  }

  .img2 {
    padding: 30px;
    transform: translateY(60px);
  }

  .rightHalh {
    .texts {}

    .rightBottom {
      .Advantages {
        padding: 0 10px 0 0;
        // height: 60px;

        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(255, 255, 255, 0.213);
          height: auto;
          border-radius: 6px;
          color: white;
          padding: 10px 0;

          svg {
            width: 55px;
            padding-bottom: 10px;
          }

          p {

            font-weight: 600;
            white-space: nowrap;
          }

          @media (min-width:992px) and (max-width:1400px) {
            p {
              font-size: 10px;
            }
          }

          @media (max-width:680px) {
            p {
              font-size: 8px;
            }
          }

        }
      }
    }
  }

  .imgs {
    img {
      height: auto;
      object-fit: cover;
      object-position: center;
      width: 100%;
      border-radius: 10px;
    }
  }

  .rotate {
    width: 25%;
    top: 50%;
    right: 53%;
    border-radius: 50% 50% 50% 50%;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    transition: 2000s;
  }


}
