<section>
  <h3 class="py-4">dashboard</h3>
  <div class="box">
    <div class="center-between py-3">
      <p>Registration Date</p>
      <p class="text-secondary">September 2, 2024 3:18 pm</p>
    </div>
    <div class="center-between py-3">
      <p>First Name</p>
      <p class="text-secondary">ziad</p>
    </div>
    <div class="center-between py-3">
      <p>Last Name</p>
      <p class="text-secondary">almorsy</p>
    </div>
    <div class="center-between py-3">
      <p>Username</p>
      <p class="text-secondary">ziad</p>
    </div>
    <div class="center-between py-3">
      <p>Email</p>
      <p class="text-secondary">ziad&#64;gmail.com</p>
    </div>
    <div class="center-between py-3">
      <p>Phone Number</p>
      <p class="text-secondary">-</p>
    </div>
    <div class="center-between py-3">
      <p>Skill/Occupation</p>
      <p class="text-secondary">-</p>
    </div>
    <div class="center-between py-3">
      <p>Biography</p>
      <p class="text-secondary">-</p>
    </div>
  </div>
</section>
