section {
  width: 100%;


  .changeImg {
    border: 1px solid #03275a63;

    button {
      background-color: #03275a37;
    }
  }

  .dashboard {
  

    .row {
      >div {
        .box {
          padding: 30px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border: 1px solid rgba(0, 0, 0, 0.286);

          .icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #03275a13;

            i {
              font-size: 24px;

              color: #03275a;
            }
          }

          p {
            font-size: 28px;
          }
        }
      }
    }
  }
}
