<div>
  <div class="box row m-0 ">
    <div class="img col-12 center-center position-relative"><img [src]="instructors.imgSrc" class="w-100">
      <div class="connects">
        <ul>
          <li><i class="bi bi-share-fill"></i></li>
          <li><i class="bi bi-facebook"></i></li>
          <li><i class="bi bi-twitter"></i></li>
          <li><i class="bi bi-youtube"></i></li>
          <li><i class="bi bi-instagram"></i></li>
        </ul>
      </div>
    </div>
    <div class="col-12 center-center flex-column">
      <h4 class="pt-3">{{instructors.name}}</h4>
      <p class="text-secondary">{{instructors.jobTitle}}</p>
    </div>

  </div>
</div>
