<div class="row WorldWide mainPadding">
  <div class="col-12 row m-0 col-lg-6 WwHalf1">
    <div class="col-4 WF1Left">
      <div class="h-25 pb-2 bg-gradient text-white rounded-3 center-between px-2">
        <div class="">
          <h1>2.4K</h1>
          <p>Positive Review</p>
        </div>
        <i class="bi bi-stars"></i>
      </div>
      <div class="h-75 pt-2"> <img class="imgCss rounded-3" src="./assets/02.jpg" alt=""></div>
    </div>
    <div class="col-8 px-0 position-relative center-center WF1Right"> <img class="imgCss rounded-3"
        src="./assets/01.jpg" alt="">
      <div class="borderPlay center-center" id="border">
        <div class="play center-center"><i class="bi bi-play-fill secTextColor fs-3"></i></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 WwHalf2">
    <div class="col-12">
      <p class="secTextColor"><i class="bi bi-lightbulb-fill pe-2"></i>Gateway to Lifelong Learning</p>
      <h1 class="mt-3 mb-4">
        Know Studyhub Empowering Learners Worldwide
      </h1>
      <p class="text-secondary w-75">We are passionate about education and dedicated to providing high-quality
        learning resources for learners of
        all backgrounds.</p>
    </div>
    <div class="col-12  row m-0 H2Mid border-bottom mt-3">
      <div class="col-12 col-md-6 p-0 py-md-5 py-3 center-start">
        <div class="icon bg-gradient me-2 center-center rounded-2"><i class="bi bi-book fs-2 text-white"></i></div>
        <div>
          <h5>Learn with Expert</h5>
          <p>We are passionate education.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 py-md-5 py-3 center-start">
        <div class="icon bg-gradient me-2 center-center rounded-2"><i class="bi bi-building fs-2 text-white"></i>
        </div>
        <div>
          <h5>Expert Instructors</h5>
          <p>We are passionate education.</p>
        </div>
      </div>
    </div>
    <div class="H2Bot">
      <div class="col-12 p-0 py-3 center-between row m-0">
        <div class="d-flex col-12 col-md-8">
          <div class="img me-4">
            <div><img src="./assets/client-sm-3.jpg" alt=""></div>
          </div>

          <div class=" d-flex justify-content-center flex-column">

            <h6>William James</h6>
            <p>CEO, Studyhub Online Education</p>
          </div>
        </div>
        <button class="btn mainBgColor text-white rounded-3 px-5 py-3 col-12 col-md-4 mt-3 mt-md-0">About Us</button>
      </div>
    </div>
  </div>
</div>
